@media screen and (min-width: 800px) {
  body {
    margin: 10%;
    padding: 0;
  }
  #ds-hsl-karaportti {
    display: block;
  }
  #hsl-timetable {
    display: grid;
  }
  #pwa-hsl-modal {
    display: none;
  }
  th {
    text-align: center;
  }
  td {
    border: 0.5rem solid white;
  }
  #bussDestination {
    width: 15rem;
  }
  #stopName {
    font-weight: normal;
  }
#stopCode {
    text-align: center;
  }
  article {
    border: 0.2rem solid lightgray;
    border-radius: 0.3rem;
    padding: 0.6rem;
    margin: 0.2rem;
    width: auto;
  }
}
