@media screen and (max-width: 1730px) {
  .ds-background,
  iframe,
  .ds-canvas,
  .ds-layer {
    display: none;
  }
}

@media screen and (min-width: 1730px) {
  body {
    margin: 0 !important;
    padding: 0;

  }
  .ds-background {
    width: 100%;
    height:100%;

  }
  iframe {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
  }
  .ds-canvas {
    display: block;
    background-color: rgba(220, 220, 220, 0);
    width: 1824px;
    height: 984px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3% 5%;
    border-radius: 0.5rem;
  }
  .ds-layer {
    display: grid;
    grid-template-columns: 1fr 2fr 450px;
    grid-template-rows: auto;
    grid-gap: 3% 1.5%;
    grid-template-areas:
      "time weather menu"
      "hsl hsl menu"
      "banner banner banner";
  }

  .pwa-layer {
    display: none;
  }
  #pwa-hsl-modal {
    display: none;
  }
  .time-block {
    grid-area: time;
    width: 100%;
    height: 100%;
    background-color: #53565a;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    border: 0.1rem solid var(--gray);
    border-radius: 0.5rem;
  }
  .time-block p {
    margin: auto;
    font-size: 6rem;
  }
  .weather-block {
    display: flex;
    grid-area: weather;
    width: 100%;
    background-color: #e4e4e4;
    color: black;
    border: 0.1rem solid var(--gray);
    border-radius: 0.5rem;
  }
  .location-area {
    width: 80%;
    text-align: center;
  }
  .ds-metropolia-logo {
    display: block;
    width: 70%;
    margin: 1rem 0 0 1rem;
  }
  #campus-name {
    font-size: 3rem;
    text-align: right;
    margin: 0;
    padding: 0;
    color: var(--orange);
  }
  #campus-name:hover {
    color: #00a0e1;
    cursor: pointer;
  }
  #weather-flex {
    display: flex;
    justify-content: center;
  }
  .weather {
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .weather .image img {
    height: 135px;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }
  .temperature {
    font-size: 3.5rem;
    margin-top: 2rem;
  }

  .menu-block {
    grid-area: menu;
    height: 100%;
    background-color: white;
    border: 0.1rem solid var(--gray);
    border-radius: 0.5rem;
    position: relative;
    background-image: url(../img/metkuKissa.png);
    background-repeat: no-repeat;
    background-position: 95% 98%;
    background-size: 20%;
  }

  #text-menu {
    font-size: 2.5rem;
    color: var(--orange);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  #text-open {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .lounchText {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding: 0.3rem 3rem;
    list-style-type: none;
    overflow: hidden;
  }
  .lounchText li {
    margin-bottom: 0.8rem;
    text-align: center;
  }
  .restaurant-info{
    position:  absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  }
  #text-prices {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .hsl-block {
    height: 100%;
    width: 100%;
    grid-area: hsl;
  }
  #hsl-timetable {
    display: flex;
    width: 1131px;
    height: 585px;
    font-size: 2rem;
  }
  #ds-hsl-karanristi-all-data {
    display: block;
    margin: 0 auto;
  }
  th {
    text-align: center;
    border-bottom: 0.7rem solid #91c6db;
  }
  td {
    border: 0.7rem solid #00a0e1;
  }
  #bussDestination {
    font-size: 2rem;
    min-width: 500px;
    padding-left: 2rem;
  }
  #stopName {
    font-weight: normal;
    font-size: 2rem;
    min-width: 300px;
  }
  #stopCode {
    text-align: center;
    min-width: 200px;
  }
  #hsl-timetable {
    color: white;
    background-color: #00a0e1;
    border: 0.1rem solid var(--gray);
    border-radius: 0.5rem;
    padding: 1rem;
    width: auto;
  }
  #bussNumber {
    background-color: #00a0e1;
    color: white;
    height: 2.5rem;
    width: 4rem;
    padding-top: 0;
    font-weight: bold;
    text-align: center;
  }
  #leavingTime {
    min-width: 150px;
    text-align: center;
    background-color: var(--gray);
  }
  .banner-block {
    grid-area: banner;
    z-index: 1;
  }
  /* scrolling banner*/
  .scroll-info {
    height: 100px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    background: var(--orange);
    color: white;
    border: 0.1rem solid #53565a;
    border-radius: 0.5rem;
  }
  .scroll-info p {
    font-size: 3.5rem;
    position: absolute;
    width: 800%;
    height: 100%;
    margin: 0;
    line-height: 90px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: example1 30s linear infinite;
    -webkit-animation: example1 30s linear infinite;
    animation: example1 80s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   {
    -moz-transform: translateX(5%); /* Firefox bug fix */
    -webkit-transform: translateX(5%); /* Firefox bug fix */
    transform: translateX(5%);
    }
    100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
    }
   }
  /* DS modal */
  .linkMarginTop {
    margin-top: 0;
  }
  .nav-item {
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
  }
  .modal-backdrop {
    z-index: -5 !important;
  }
}
