
* {
  box-sizing: border-box;
}
:root{
  --background: #F1F1F1;
  --orange: #ff5000;
  --grey: #53565a;
  --headFont:'Roboto Slab', serif;
  --titleFont:'Open Sans', sans-serif;
  --regularFont:'Baloo Tamma 2', cursive;
}
body {
  background-color:var(--background);
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(/assets/img/iconBg.svg);
  background-repeat: repeat-y;
  background-position-x: center;
  margin-top: 25vw;
}
.navbar-dark{
  background-color: var(--background); 
  border-bottom: 1px solid #cbcbcb;
}
.navbar-dark .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 80, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler .navbar-toggler:hover{
  border: none;
}
.navbar-dark .navbar-toggler{
  border-color: transparent;
  color: transparent;
}
 .navbar-toggler-icon{
  font-size: 6vw;
  align-self: flex-start;
}
.metroMeno{
  color: var(--grey); 
  font-size: 6vw;
  font-family: var(--headFont);
  margin: 2%;
}
.collapseText{
  position: fixed;
  background-color: #D0D0D0;
  margin-right: 20%;
  box-shadow: 25px 15px 25px #888888;
  margin-top: -20vw;
  z-index: 10;
}
.linkMarginTop{
  margin-top: 3em ;
}
.nav-item{
  font-size: 6vw;
  padding: 1vw;
  font-family: var(--titleFont);
}
.nav-link{
  color: #000;
}
.nav-link:hover{
  color: var(--orange);
}
.nav-link:active{
  background-color: #E5E5E5;
}
.darkMode{
  margin-top: 10%;
}
.darkMode, .inEnglish{
  font-size: 5vw;
  color: black;
  margin: 0;
}
.toggleFlex{
  display: flex;
 
}
.form-switch{
  margin-left: 9vw;
}
.form-switch .form-check-input{
  background-color: var(--orange);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}
.form-check-input:checked{
  background-color: var(--grey);
  border-color: var(--grey);
}
.form-check-input:focus{
  outline: none;
  box-shadow: none;
  border: transparent;
}
.koronaHeadInfo{
  font-size: 3vh;
  margin-top: 10vw;
  font-family: var(--titleFont);
  color: #000;
}
.koronaInfo{
  font-size: 2vh;
  font-family: var(--regularFont);
  color: #000;
}

/* HSL KARTTA */
.info{
  display: grid;
  background-color: transparent;
  border: transparent;
  box-shadow: 10px 10px 10px #888888;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  color: var(--orange);
  position: relative;
  font-size: 11vw;
  justify-content: center;
  align-content: space-evenly;
}

.hslMaps{
  background-position: center center;
  background-repeat: no-repeat;
  width: 85%;
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-radius: 35px;
  box-shadow: 25px 15px 25px #888888;
}
#hslModal{
  margin-top: 20vw;
}

.bi-geo-alt-fill{
  color: var(--orange);
  font-size: 11vw;
  top: -53vw;
  left: 21vw;
  position: relative;
}
.bi-markdown-fill{
  color: var(--orange);
  font-size: 11vw;
  top: -96vw;
  left: 55vw;
  position: relative;
}
.bi-pin-map-fill{
  color: var(--orange);
  font-size: 11vw;
  top: -70vw;
  left: 66vw;
  position: relative;
}

/* KARAMALMIN PYSÄKIT */
#landerannantie{
  top: -109vw;
  left: 40vw;
}
#karanristiWest{
  top: -90vw;
  left: 65vw;
}
#karanristiEast{
  top: -114vw;
  left: 29vw;
}
#karamalmensEast{
  top: -68vw;
  left: 54vw;
}
#karamalmensWest{
  top: -90vw;
  left: 62vw;
}

/* ARABIAN PYSÄKIT */
#ara5{
  color: #007AC9;
  top: -121vw;
  left: 56vw;
}
#ara6{
  color: #007AC9;
  top: -101vw;
  left: 73vw;
}
#ara7{
  color: #007AC9;
  top: -121vw;
  left: 47vw;
}
#ara8{
  color: #007AC9;
  top: -91vw;
  left: 25vw;
}
#ara9{
  color: #007AC9;
  top: -105vw;
  left: 40vw;
}
#ara1{
  color: #008151;
  top: -97vw;
  left: 32vw;
}
#ara2{
  color: #008151;
  top: -94vw;
  left: 33vw;
}
#ara3{
  color: #007AC9;
  top: -114vw;
  left: 43vw;
}
#ara4{
  color: #008151;
  top: -142vw;
  left: 62vw;
}

/* MYLLYPURON PYSÄKIT */
#mylly1{
  color: #004dff;
  top: -106vw;
  left: 70vw;
}
#mylly2{
  color: #004dff;
  top: -106vw;
  left: 60vw;
}
#mylly3{
  color: #004dff;
  top: -131vw;
  left: 46vw;
}
#mylly4{
  color: #004dff;
  top: -147vw;
  left: 28vw;
}
#mylly5{
  top: -136vw;
  left: 35vw;
}
#mylly6{
  color: #004dff;
  top: -131vw;
  left: 18vw;
}
#mylly7{
  color: #004dff;
  top: -120vw;
  left: 28vw;
}

/* MYRTSIN PYSÄKIT */

#myrtsi1{
  color: #8C4799;
  top: -144vw;
  left: 75vw;
}
#myrtsi2{
  color: #004dff;
  top: -80vw;
  left: 77vw;
}
#myrtsi3{
  color: #004dff;
  top: -106vw;
  left: 70vw;
}
#myrtsi4{
  color: #004dff;
  top: -141vw;
  left: 37vw;
}
#myrtsi5{
  color: #004dff;
  top: -112vw;
  left: 30vw;
}











/* TOISEN MAPIN CSS */

/* .map{
  display: grid;
  background-image: url(/assets/img/map.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 85%;
  height: 85vh; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-radius: 35px;
}
.karaMapGrid{
  display: grid;
  grid-template-columns:
  repeat(8, 1fr);
  grid-template-rows: 
  repeat(10, 1fr);
}
.infoButton1{
  grid-column: 4;
  grid-row: 3;
  justify-self: center;
  align-self: center;
}
.infoButton2{
  color: #004dff;
  grid-column: 6;
  grid-row: 5;
  justify-self: center;
  align-self: center;
}
.infoButton3{
  color: #000;
  grid-column: 2;
  grid-row: 4;
  justify-self: center;
  align-self: center;
}
.infoButton4{
  color: #fff;
  grid-column: 2;
  grid-row: 5;
  justify-self: center;
  align-self: center;
}
.infoButton5{
  grid-column: 6;
  grid-row: 7;
  justify-self: center;
  align-self: center;
} 
 */
