
* {
  box-sizing: border-box;
}

:root{
  --background: #F1F1F1;
  --orange: #ff5000;
  --grey: #53565a;
  --headFont:'Roboto Slab', serif;
  --titleFont:'Open Sans', sans-serif;
  --regularFont:'Baloo Tamma 2', cursive;
}
body {
  background-color:var(--background);
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../img/bgNew.svg);
  background-repeat: repeat-y;
  background-position-x: center;
  margin-top: 25vw !important;
}
.navbar-dark{
  background-color: var(--background);
  border-bottom: 1px solid #53565a;
}
.navbar-dark .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 80, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler .navbar-toggler:hover{
  border: none;
}
.navbar-dark .navbar-toggler{
  border-color: transparent;
  color: transparent;
}
 .navbar-toggler-icon{
  font-size: 6vw;
  align-self: flex-start;
}
.metroMeno{
  color: var(--grey);
  font-size: 6vw;
  font-family: var(--headFont);
  margin: 2%;
}
#pwa-weather-flex{
  display: grid;
  grid-template-columns: 20vw;
}
.pwa-weather .image img {
  height: 10vw;
  width: 10vw;
  margin-right: 0 !important;
}
.image{
  justify-self: end;
}
.temperature{
  font-size: var(--regularFont);
  font-size: 4vw;
  margin-bottom: 0;
  justify-self: center;
}
.collapseText{
  position: fixed;
  background-color: #D0D0D0;
  margin-right: 20%;
  box-shadow: 13px 13px 25px #888888;
  z-index: 5;
  top: 0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
}
.linkMarginTop{
  margin-top: 3em ;
}
.nav-item{
  font-size: 6vw;
  padding: 1vw;
  font-family: var(--titleFont);
}
.nav-link{
  color: #000;
}
.nav-link:hover{
  color: var(--orange);
}
.selected-nav-link{
  color: var(--orange);
}
.nav-link:active{
  background-color: #E5E5E5;
}
.darkMode{
  margin-top: 10%;
}
.darkMode, .inEnglish{
  font-size: 5vw;
  color: black;
  margin: 0;
}
.toggleFlex{
  display: flex;
}
.form-switch{
  margin-left: 9vw;
}
.form-switch .form-check-input{
  background-color: var(--orange);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}
.form-check-input:checked{
  background-color: var(--grey);
  border-color: var(--grey);
}
.form-check-input:focus{
  outline: none;
  box-shadow: none;
  border: transparent;
}
.koronaHeadInfo{
  font-size: 3vh;
  margin-top: 10vw;
  font-family: var(--titleFont);
  color: #000;
}
.koronaInfo{
  font-size: 2vh;
  font-family: var(--regularFont);
  color: #000;
  margin-bottom: 2%;
}
.metropoliaLogo{
  align-self: end;
  margin-top: 5%;
}
.chooseCampusText{
  margin-top: 5%;
  text-align: center;
  font-family: var(--titleFont);
  font-size: 7vw;
}

.lounchText {
  font-size: 2vh;
  padding: 1em;
  height: auto;
  list-style-type: none;
  overflow: scroll;
}

/* .line{
  height: 47px;
  border-bottom: 1px solid black;
  position: relative;
  width: 100%;
} */
.lounchMenu{
  position: relative;
  margin-bottom: 20%;
  background-color: #fff;
  width: 85%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-radius: 35px;
  box-shadow: 13px 13px 25px #888888;
  z-index: -2;
}
.menuText{
  text-align: center;
}
.lounchText{
  font-family: var(--regularFont);
  line-height: 1%;
  line-height: 2em;
  font-size: 4vw;
}
.metkuKissa{
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
  text-align: center;
}

