
* {
  box-sizing: border-box;
}
:root{
  --background: #F1F1F1;
  --orange: #ff5000;
  --grey: #53565a;
  --mainFont:'Roboto Slab', serif;
  --headFont:'Open Sans', sans-serif;
  --regularFont:'Baloo Tamma 2', cursive;
}
body {
  background-color:var(--background);
}

.background{
  width: 100vw;
  height: 100vh;
  display: grid;
  z-index: -1;
  position: relative;
  grid-template-columns:
    repeat(2, 1fr);
  grid-template-rows:
    repeat(10,);
}
.bi-keyboard{
  justify-self: right;
  align-self: flex-start;
}
.bi-mortarboard{
  justify-self: right;
  align-self: flex-start;
}
.bi-pencil{
  justify-self: left;
  align-self: center;
  
}
.bi-clock{
  justify-self: center;
  align-self: center;
}
.bi-calculator-fill{
  justify-self: left;
  align-self: flex-end;
  margin-left: -20%;
  
}
.bi-calendar-check{
  justify-self: right;
  align-self: flex-start;
}
.bi-camera-reels{
  justify-self: center;
  align-self: center;
}
.bi-pen{
  justify-self: center;
  align-self: center;
  margin-left: 75%;
  
}
.bi-clipboard-data{
  justify-self: left;
  align-self: flex-start;
  margin-left: -30%;
}
.bi-card-checklist{
  justify-self: left;
  align-self: center;
}


