
* {
  box-sizing: border-box;
}
:root{
  --background: #F1F1F1;
  --orange: #ff5000;
  --grey: #53565a;
  --headFont:'Roboto Slab', serif;
  --titleFont:'Open Sans', sans-serif;
  --regularFont:'Baloo Tamma 2', cursive;
}
body {
  background-color:var(--background);
}

.navbar-toggler-icon{
  font-size: 3em;
}
.navbar-dark .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 80, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.metroMeno{
  color: var(--grey); 
  font-size: 4em;
  font-family: var(--headFont);
}
.navbar-collapse{
  background-color: #D0D0D0;
  margin-right: 20%;
  box-shadow: 25px 15px 25px #888888;
}
.navbar-toggler .navbar-toggler:hover{
  border: none;
}
.navbar-dark .navbar-toggler{
  border-color: transparent;
  color: transparent;
}
.nav-item{
  font-size: 8vh;
  padding: 0.5em;
  font-family: var(--titleFont);
}
.buttonGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar-dark .navbar-nav .nav-link{
  color: black;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: var(--orange);
}
.navbar-dark .navbar-nav .nav-link:active{
  background-color: #E5E5E5;
}
.checkButton1 {
  justify-self: left;
  align-self: end;
}
.form-switch .form-check-input{
  background-color: var(--orange);
}

.form-check-input:checked{
  background-color: var(--grey);
  border-color: var(--grey);
}
.form-check-input:active, .form-check-input:focus{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.label{
  background: var(--grey);
}
.checkButton2{
  justify-self: left;
  align-self: flex-start;
}
.darkMode{
  margin-top: 10%;
  justify-self: left;
  align-self: end;
}
.inEnglish{
  justify-self: left;
  align-self: end;
}
.darkMode, .inEnglish{
  font-size: 10vw;
  color: black;
}
.koronaHeadInfo{
  font-size: 3em;
  margin-top: 10%;
  font-family: var(--titleFont);
}
.koronaInfo{
  font-size: 2em;
  font-family: var(--regularFont);
}



.background{
  width: 100vw;
  height: 100vh;
  display: grid;
  z-index: -1;
  position: relative;
}
.bi-keyboard{
  justify-self: right;
  align-self: flex-start;
}
.bi-mortarboard{
  justify-self: right;
  align-self: flex-start;
}
.bi-pencil{
  justify-self: left;
  align-self: center;
  
}
.bi-clock{
  justify-self: center;
  align-self: center;
}
.bi-calculator-fill{
  justify-self: left;
  align-self: flex-end;
  margin-left: -20%;
  
}
.bi-calendar-check{
  justify-self: right;
  align-self: flex-start;
}
.bi-camera-reels{
  justify-self: center;
  align-self: center;
}
.bi-pen{
  justify-self: center;
  align-self: center;
  margin-left: 75%;
  
}
.bi-clipboard-data{
  justify-self: left;
  align-self: flex-start;
  margin-left: -30%;
}
.bi-card-checklist{
  justify-self: left;
  align-self: center;
}